<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpellChecker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <SpellChecker.Properties.Settings>
            <setting name="hashCount" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="bloomFilterSizeLowFalsePositiveRate" serializeAs="String">
                <value>3300000</value>
            </setting>
            <setting name="dictionaryFilePath" serializeAs="String">
                <value>.\\Resources\\dictionary.txt</value>
            </setting>
            <setting name="bloomFilterSizeHighFalsePositiveRate" serializeAs="String">
                <value>700000</value>
            </setting>
        </SpellChecker.Properties.Settings>
    </applicationSettings>
</configuration>